ion-text{
    text-align: center;
    display: block;
    color: #fff;
    font-family: 'Muli', sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}
ion-toolbar {
    --background: var(--custom-red-color);
}
ion-buttons {
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
ion-menu-button {
    border: 1px solid var(--custom-red-color);
    border-radius: 3px;
}